@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
    box-sizing: border-box;
    min-height: 100%;
    width: 100%
}

* {
    padding: 0;
    margin: 0
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.profile {
    display: flex;
    min-height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.profile-texts-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 30px;
    align-items: center;
}

.icons-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
}

a {
    display: flex;
    align-content: center;
    justify-content: center;
}

#profile-img {
    width: 150px;
    border-radius: 50%;
}

#facebook-icon {
    width: 35px;
    margin-right: 5px;
}

#github-icon {
    width: 40px;
    margin-left: 5px;
}

.about-me {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.about-me-text {
    width: 60%;
    text-align: center;
}

.educational-background{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 400px;
    justify-content: space-evenly;
    align-items: center;
}

.educational-background-texts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.school-background {
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.senior-high-background {
    display: flex;
    flex-direction: row-reverse;
}

.college-background {
    display: flex;
    flex-direction: row-reverse;
}

#mseuf-logo {
    width: 200px;
}

.what-i-learned {
    display: flex;
    flex-direction: column;
    min-height: 1000px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.big-text {
    font-size: 30px;
}

.learnings {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 900px;
    justify-content: space-around;
    align-items: center;
}

.skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 300px;
    justify-content: space-around;
    align-items: center;
}

.skills-content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#html-png {
    width: 150px;
}

#css-png {
    width: 150px;
}
#js-png {
    width: 130px;
}

#python-png {
    width: 270px;
}

.soft-skills {
    background-color: gray;
    display: flex;
    width: 100%;
    min-height: 300px;
    justify-content: center;
    align-items: center;
}

#critical-thinking {
    width: 200px
}

#time-management {
    width: 200px
}

#communication-skills {
    width: 200px
}

#decision-making {
    width: 200px
}

#problem-solving {
    width: 200px
}

.contacts {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: grey;
    min-height: 150px;
    justify-content: space-around;
    align-items: center;
}

.email {
    display: flex;
    flex-direction: row;
}

#email-icon {
    width: 20px;
}

.phone {
    display: flex;
}

#phone-icon {
    width: 20px;
}

.roboto-font {
    font-family: "Roboto", sans-serif;
}


